<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head('Inicio')"></div>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!--sidebar-->
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="overflow-y: scroll; height: 100vh;">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <div th:replace="fragments/topbar :: topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
					<h1 class="h3 mb-4 text-gray-800">Autores</h1>
					<div class="row">
						<div class="col-4"><a th:href="@{/authors/new/}" class="btn btn-primary btn-xs">Nuevo</a></div>
						<div class="col">
							<form th:action="@{/authors/list}" method="get" th:object="${authorSearch}">
								<div class="form-group row justify-content-center">
									<label class="col-sm-1 text-right col-form-label" for=search>Buscar:</label>
									<div class="col-sm">
										<input type="text" minlength="3" class="form-control" th:field="*{firstName}" id="search" required></input>
									</div>
									<div class="col-sm">
										<button type="submit" class="btn btn-primary">Buscar</button>
										<a th:href="@{/authors/list}" class="btn btn-danger mx-3">Cancelar</a>
									</div>
								</div>
							</form>
						</div>
					</div>
                    <h5 th:if="${authorSearch.firstName}" th:text="'Resultados para: ' + ${authorSearch.firstName}"></h5>

					<hr class="sidebar-divider">

					<table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Nombres</th>
								<th scope="col">Apellidos</th>
								<th scope="col">Nacionalidad</th>
								<th scope="col">OP</th>
								<th scope="col">OP</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="author: ${listaAutores}">
								<td th:text="${author.id}"></td>
								<td th:text="${author.firstName}"></td>
                                <td th:text="${author.lastName}"></td>
								<td th:text="${author.nationality}"></td>
								<td><a th:href="@{/authors/delete?id=}+${author.id}"
										class="btn btn-danger"><i class="fa fa-trash"
											aria-hidden="true"></i></a></td>
								<td><a
									th:href="@{'/authors/detalle/'+${author.id}}"
									class="btn btn-danger"><i class="fa fa-pen"
										aria-hidden="true"></i></a></td>
							</tr>
						</tbody>
					</table>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <div th:replace="fragments/footer :: footer"></div>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <div th:replace="fragments/scripts :: links"></div>
</body>

</html>