<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head('Inicio')"></div>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!--sidebar-->
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="overflow-y: scroll; height: 100vh;">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <div th:replace="fragments/topbar :: topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Prestamos</h1>
                    <a th:href="@{/loans/new/}" class="btn btn-secondary btn-xs">Nuevo</a>

                    <hr class="sidebar-divider">

                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Libro</th>
                                <th scope="col">DNI del Lector</th>
                                <th scope="col">Lector</th>
                                <th scope="col">Fecha de prestamo</th>
                                <th scope="col">Fecha límite</th>
                                <th scope="col">Fecha de devolución</th>
                                <th scope="col">Estatus</th>
                                <th scope="col">Tardanza</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="loan: ${listLoan}">
                                <td th:text="${loan.id}"></td>
                                <td th:text="${loan.book.title}"></td>
                                <td th:text="${loan.reader.dni}"></td>
                                <td th:text="${loan.reader.first_name} +' '+ ${loan.reader.last_name}"></td>
                                <td th:text="${#dates.format(loan.loanDate, 'dd-MMM-yyyy HH:mm')}"></td>
                                <td th:text="${#dates.format(loan.returnLimitDate, 'dd-MMM-yyyy HH:mm')}"></td>
                                <td 
                                    th:text="${#dates.format(loan.returnDate, 'dd-MMM-yyyy HH:mm')}">
                                </td>
                                <td th:text="${loan.returned} ? 'Devuelto' : 'No Devuelto'"
                                    th:class="${!loan.returned} ? (${loan.delay} ? text-danger : text-warning) : text-success">
                                </td>
                                <td th:text="${loan.delay} ? Si : No"
                                    th:class="${loan.delay} ? text-danger: text-success"></td>
                                <td><button type="button" class="btn btn-primary" data-toggle="modal"
                                        th:attr="data-target=|#devolution_modal${loan.id}|" th:disabled="${loan.returned}">Devolución</button></td>
                                <!-- Return Modal -->
                                <div class="modal fade" th:attr="id=|devolution_modal${loan.id}|" tabindex="-1"
                                    aria-labelledby="devolution_modal" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="devolution_modal">Registrar devolución de
                                                    libro</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Se registrará la devolución del libro.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Cancelar</button>
                                                <a type="button" class="btn btn-primary mx-2"
                                                    th:href="@{|/loans/return/${loan.id}|}" >Registrar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <div th:replace="fragments/footer :: footer"></div>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <div th:replace="fragments/scripts :: links"></div>
</body>

</html>