<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head('Inicio')"></div>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!--sidebar-->
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="overflow-y: scroll; height: 100vh;">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <div th:replace="fragments/topbar :: topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Prestamo</h1>

                    <hr class="sidebar-divider">
                    <div th:object="${loan}" th:remove="tag">
                        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                        </ul>
                    </div>

                    <form th:action="@{/loans/save}" th:object="${loan}" novalidate method="post">

                        <div class="form-group row">
                            <label for="reader" class="col-sm-2 col-form-label">Lector:</label>
                            <div class="col-sm-6">
                                <select class="select1 form-control" name="state" th:field="*{reader}">
                                    <option th:value="${null}" selected>Seleccione un lector</option>
                                    <option th:each="reader1:${listReaders}" th:value="${{reader1}}"
                                        th:text="${reader1.dni} + ': ' + ${reader1.firstName} + ' ' + ${reader1.lastName}">
                                    </option>
                                </select>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('reader')}"
                                    th:errors="*{reader}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="book" class="col-sm-2 col-form-label">Libro:</label>
                            <div class="col-sm-6">
                                <select class="select2 form-control" name="state" th:field="*{book}"
                                    th:errorclass="'form-control alert-danger'">
                                    <option th:value="${null}" selected>Seleccione un libro</option>
                                    <option th:each="book1:${listBooks}" th:value="${{book1}}"
                                        th:text="${book1.title} + ': ' + ${book1.stock} + ' disponibles'"></option>
                                </select>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('book*')}"
                                    th:errors="*{book*}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="loanDate" class="col-sm-2 col-form-label">Fecha de prestamo:</label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{loanDate}"
                                    class="form-control"
                                    th:errorclass="'form-control alert-danger'" readonly/>
                                <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('loanDate')}"
                                    th:errors="*{loanDate}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="returnLimitDate" class="col-sm-2 col-form-label">Fecha límite de devolución:</label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{returnLimitDate}"
                                    class="form-control"
                                    th:errorclass="'form-control alert-danger'" readonly/>
                                <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('returnLimitDate')}"
                                    th:errors="*{returnLimitDate}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="submit" value="Guardar" class="btn btn-secondary"></input>
                                <a th:href="@{/loans/list}" class="btn btn-danger">Cancelar</a>
                            </div>
                        </div>

                    </form>

                    <p th:text="${mensaje}" class="form-text text-success"></p>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <div th:replace="fragments/footer :: footer"></div>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <div th:replace="fragments/scripts :: links"></div>
    <div th:replace="fragments/scripts :: select2"></div>
    <div th:replace="fragments/scripts :: select2-bootstrap4-theme"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/es.js"></script>

    <script>
        $(document).ready(function () {
            $('.select2').select2({
                language: "es"
            });
            $('.select1').select2({
                language: "es"
            });
        });
    </script>
</body>

</html>